/* color palette from <https://github.com/vuejs/theme> */

:root {
  --color-bg: #ffffff;
  --color-block: rgba(220, 220, 220, 0.5);

  --color-text: black;
  --color-text-light: #888888;
  --color-site-title: gold;
  --color-text-high: red;
  --color-link: green;
  
  --color-border: #888888;

  --size-font: 16px;
  --size-line-height: 1.6;
  --size-section-gap: 3rem;
  --size-list-item-gap: 0.2rem;

  --size-border-width: 0.1em;
  --size-input-padding: 0.3em;
}


*,*::before,*::after { box-sizing: border-box; margin: 0; font-weight: normal; word-break: break-all; }
html, body{ min-height: 100vh; margin:0; padding:0; font-size: var(--size-font); }
body {  
  background: var(--color-bg);
  color: var(--color-text);
  line-height: var(--size-line-height);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .link { display:inline-block; text-decoration: none; color: var(--color-link); cursor:pointer;   }
img{ display: block; max-width: 100%; max-height: 100%; object-fit: contain; }


input, textarea { display:inline-block; outline: none; font-size: var(--size-font);  border: solid var(--color-border) var(--size-border-width); padding: var(--size-input-padding); }
textarea{ min-height: 2em;  }
input:focus, textarea:focus { border-color: var(--color-site-title); border-width: calc(var(--size-border-width) * 1.3); outline: none; }


ul{ padding:0; margin:0 0 0 1em;}


/*--------------------brief---------------------*/
.center{text-align: center;}  
.flex{ display: flex; align-items: center; justify-content: center; }
.flex0{ display: flex;  }
.flexg{ flex-grow:1; }
.flexw{ display: flex; flex-wrap: wrap; align-items: center;  }
.hand { cursor: pointer;}
.bm{ margin: 0 0 1rem 0;}
.rm{ margin: 0 1rem 0 0; }
.lm{ margin: 0 0 0 1rem; }
.pad{ padding: 1rem;}
.nowrap{ white-space: nowrap;}
.highlight{ color: var(--color-text-high); }



/*--------------------components---------------------*/

.title{font-weight: bold; font-size: 1.1em; }
.ico_button , .big_ico_button, .mid_ico_button{ width: 1em; height: 1em; min-width: 1em; min-height: 1em; border-radius: 0.1em; cursor:pointer;  }
.big_ico_button{ font-size: 3rem; } .mid_ico_button{ font-size: 2rem;} .big_ico_c { width: 3.5rem; }
.contacts{ display:flex; flex-wrap: wrap;}
.button, button { display:block; background-color: var(--color-site-title); color: var(--color-bg); font-weight: bold; font-size: 1.2rem; border: none; border-radius: 0em; padding: 0.1em 1em; cursor:pointer; }


/*fixed*/
.fullscreen { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; display: flex; justify-content: center;  align-items: center; background-color: #222222ee;  overflow: hidden;  }
.fullscreen .close_img{ position: fixed; right: 0; top:0;}
.loading{ color: var(--color-site-title); z-index: 999; position:fixed; left: calc(50vw - 3rem); top: 50vh; font-size: 2rem; }
.screen_bottom_bar{position:fixed; bottom: 0; width: 100vw; display: flex; color: var(--color-site-title); align-items: center; font-size: 1.5rem;}

/* view field */
.field{ display:flex;}
.field_title{ margin: 0 0.5em 0 0;  display: inline-block; font-weight: bold; white-space: nowrap; }
.field_content{ display: inline-block; }

/* editor field */
.field_editor, .field_editor_multilines, .field_editor_verticle { display: flex; align-items: center; padding: 0.5em 0; }
.field_editor_multilines { align-items: flex-start; }
.field_editor_verticle {display:block;}

.field_editor_label{ margin: 0 0.5em 0 0; white-space: nowrap; }
.field_editor_content{ flex-grow:1; }
.field_editor_verticle .field_editor_content { margin: 0.5em 0 0 0;}
.field_editor_content_label{ display:inline-block; margin: 0 0.5em; }
.field_editor_input {width:100%; max-width: 15em; }
.field_editor_input_long{ width:100%; }
.field_editor_search{ display:flex;  border: solid 0.1em var(--color-site-title); }
.field_editor_input_search{ width: calc(100vw - 5rem); max-width: 25rem; border: none; }
.field_editor_input_4chars{ width: 5em; }
.field_editor_input_2chars{ width: 3em; }

/* radio */
.radio_list{ display:flex; align-items: center; }
.radio_list_item{ display:flex; align-items: center; padding: 0.5em 1em 0.5em 0; }
.radio_list_item label{display:inline; margin: 0 0 0 0.2em;}

/* grid */
.grid_c { --ColumnCount: 1; padding: var(--size-list-item-gap); display:grid; grid-template-columns: repeat(var(--ColumnCount), 1fr);  }
.list { display: flex; flex-wrap: wrap; justify-content: center; }

/* name list */
.name_list{ padding: 0.5em; display: flex; flex-wrap: wrap;  }
.name_list_item{ padding: 0.5em; }

/* list item */
.block { padding: var(--size-list-item-gap); }
.block_inner { background-color: var(--color-block);  padding: 0.8rem; height: 100%;  }
.block2_inner { background-color: var(--color-block);  height: 100%; display:flex; align-items: flex-start; }
.block2_left_img{ width: 30%; margin: 0.3rem 1rem 0.3rem 0.3rem;}
.block2_right_c{padding: 0.3rem 0 0 0;}
.block2_right_title{font-weight: bold;}
.block2_right_des{ color:var(--color-text-light); font-size: 90%; }
.block2_right_money{ color:var(--color-text-high); }
.detail_image{ width:100%; border-radius: 0.5rem; cursor: pointer; }
.block .title { padding: 0 0 0.4rem 0; }

/**/
.detail_page_img{ margin: 1rem 0; border-radius: 1rem; }

/* log */

.log_block_start{ border: solid 0.1em black; border-width: 0.2em 0 0 0; }
.log_block_start2{ border: solid 0.1em black; border-width: 0.1em 0 0 0;  }
.log_record{padding: 0.3rem 0; display: flex; }
.log_time{min-width: 18rem;}
.log_req{padding: 0.3rem 0;}
.log_ip{ display:inline-block; margin: 0 1rem 0 0; font-weight: bold; white-space: nowrap;}

.article{ padding: 1em; }
.article section {padding: 0 0 1em 0; }
.article section :is(div, ul){ padding: 0 0 0.5em 0;}

/*--------------------page layout---------------------*/
.page_title_c{ display:flex; justify-content: center; }
.page_title{ padding: 0rem 0 1rem 0; font-size: 1.5rem; color: var(--color-text-light); }
.page_msg{ color: var(--color-text-high); font-weight: bold; text-align: center; padding: 1rem; }
.page_des{ padding: 0 1em 1em 1em; }
.page_comp_small_padding{ padding: 0.5em; }






