[Unit]
Description=Buda Website Service 
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/code/buda/c/release
ExecStart=/root/code/buda/c/release/socket_server -w /root/code/buda/vue/dist -p 8888
Restart=always
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target
